ffmpeg~=1.4
ffmpeg-python~=0.2.0
PyNaCl
imageio-ffmpeg~=0.5.1
python-dotenv~=1.0.1
discord.py~=2.4.0
openai~=1.59.5
flask~=3.0.3
Flask-SocketIO~=5.5.1
asyncio~=3.4.3
eventlet~=0.38.2
bcrypt~=4.2.0
requests~=2.32.3