<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Bot - Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Welcome to React Bot</h1>
  <p>He <strong>ALWAYS</strong> knows what's up</p>
  <div class="button-container">
    <button class="button" onclick="location.href='{{ url_for('login') }}'">Access Admin Commands</button>
    <button class="button" onclick="location.href='{{ url_for('stats') }}'">View Statistics</button>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
