<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
   <link rel="icon" href="/react_icon">
</head>

<body>
  <!-- Title Bar -->
  <header class="title-bar">
    <h1>React Bot Statistics</h1>
  </header>

  <div class="container">
    <div class="sidebar">
      <ul class="tabs">
        <li class="tab active" data-tab="tab1">History</li>
        <li class="tab" data-tab="tab2">Tab 2</li>
        <li class="tab" data-tab="tab3">Tab 3</li>
        <li class="tab" data-tab="tab4">Tab 4</li>
        <li class="tab" data-tab="tab5">Tab 5</li>
      </ul>
    </div>
    <div class="main-content">
      <div class="tab-content active" id="tab1">
        <div class="content-header">
            <h2 class="content-title">Reaction Feed</h2>
            <button id="reset-filter" hidden="hidden" onclick="resetFilter()">Reset Filter</button>
        </div>
            <div class="reactions-container" id="reactions-container">
                {% for reaction in reactions %}
                    <div class="reaction" data-usr="{{ reaction.usr }}">
                        <p class="reaction-line">
                            <span class="filter-usr" data-usr="{{ reaction.usr }}" style="cursor: pointer; color: #4CAF50;">
                                {{ reaction.usr }}
                            </span> reacted in {{ reaction.env }}
                        </p>
                        <p class="reaction-line">{{ reaction.auth }} said: {{ reaction.msg }}</p>
                        <p class="reaction-line">React Bot: {{ reaction.rct }}</p>
                    </div>
                {% endfor %}
            </div>
      </div>
      <div class="tab-content" id="tab2">
        <h2>Content for Tab 2</h2>
        <p>This is the content for Tab 2.</p>
      </div>
      <div class="tab-content" id="tab3">
        <h2>Content for Tab 3</h2>
        <p>This is the content for Tab 3.</p>
      </div>
      <div class="tab-content" id="tab4">
        <h2>Content for Tab 4</h2>
        <p>This is the content for Tab 4.</p>
      </div>
      <div class="tab-content" id="tab5">
        <h2>Content for Tab 5</h2>
        <p>This is the content for Tab 5.</p>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='stats.js') }}"></script>
</body>
</html>